annotated-types==0.8.0
pgvector==0.5.1
pydantic==2.14.0
pydantic-settings==2.15.0
pydantic_core==2.50.0
python-dotenv==1.2.4
-e git+https://github.com/jamaldeen09/repomimic.git@aa563ffbee88a54cd1a3d4e6adb9c26425874507#egg=repomimic
SQLAlchemy==2.1.4
typing-inspection==0.4.4
typing_extensions==4.16.0
uv==0.12.24
